// Index page styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';

.intro-section {
	margin: 50px 0 0;
	padding: 0 25px;
}

.main-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.intro-text {
	width: 40%;
	margin: 0 auto 20px;

	@media screen and (max-width: $tabletWidth) {
		width: 100%;
	}

	a {
		margin: 0 7px;
	}
}

// html,
// 			body {
// 				font-family: sans-serif;
// 			}
// 			main {
// 				text-align: center;
// 				padding: 10px;
// 			}
// 			h1 {
// 				font-weight: 300;
// 				color: #2a2a2a;
// 				margin: 120px 0 40px;
// 			}
// 			a {
// 				color: #00a0e3;
// 				margin: 0 10px;
// 			}