// Index page styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';

.intro-section {
	margin: 50px 0 0;
}

.main-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

// html,
// 			body {
// 				font-family: sans-serif;
// 			}
// 			main {
// 				text-align: center;
// 				padding: 10px;
// 			}
// 			h1 {
// 				font-weight: 300;
// 				color: #2a2a2a;
// 				margin: 120px 0 40px;
// 			}
// 			a {
// 				color: #00a0e3;
// 				margin: 0 10px;
// 			}