// Base styles

html,
body {
	font-family: sans-serif;
	font-size: 16px;
}

.text-center {
	text-align: center;
}

.primary-title {
	font-weight: 700;
	color: $black;
	font-size: 1.5em;
}

.primary-text {
	font-weight: 400;
	color: $grey;
	font-size: 1em;
	line-height: 1.5em;
}

.no-td {
	text-decoration: none;
}

a {
	color: $blue;
}