//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza's Website"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main
		section.intro-section.text-center
			a.no-td(href="/")
				img.main-img(src="img/arun-michael-dsouza.jpg")
				h1.primary-title Arun Michael Dsouza
			div.primary-text.intro-text
				p.
					I'm a Technology Enthusiast, an Open Source Lover and Contributor. I play drums (sometimes), I love to travel and play video games. 
				a(target="_blank" href="http://bit.ly/website-github") GitHub
				a(target="_blank" href="http://bit.ly/website-twitter") Twitter
				a(target="_blank" href="http://bit.ly/website-behance") Behance
