//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza's Website"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main
		h1 Busy making the web a better place.. Will be back soon!
		a(target="_blank" href="http://bit.ly/website-github") GitHub
		a(target="_blank" href="http://bit.ly/website-twitter") Twitter
