//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza's Website"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main
		section.intro-section.text-center
			a.no-td(href="/")
				img.main-img(src="img/arun-michael-dsouza.jpg")
				h1.primary-title Arun Michael Dsouza
			p.primary-text.intro-text.
				Technology Enthusiast. 
			a(target="_blank" href="http://bit.ly/website-github") GitHub
			a(target="_blank" href="http://bit.ly/website-twitter") Twitter
