//- Talks menu template

extends ../helpers/base

block title
	- var title = "CMS - Tags"
	- var subTitle = "Manage all the tags"

block append meta
	meta(name="robots" content="noindex")

block append css
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.6/css-mint.min.css")
	link(rel="stylesheet" href="/css/cms.min.css")
	style.
		.item-list > li {
			background-color: #eee;
			padding: 15px;
			border-radius: 3px;
			margin-bottom: 15px;
		}

block body
	include cmsHeader
	.cm-text-center
		a(href="javascript:window.history.back()") Go back
	.cm-grid
		.cm-row
			include logoutButton
			.cm-col-md-4
				.cm-card.card-bg
					.cm-card-header Add a tag
					.cm-card-body
						form(method="post" action="/cms/tags")
							.input-box
								input(type="text" placeholder="Title" name="title" required)
							.input-box
								button.cm-btn.primary Add tag
			.cm-col-md-8
				.cm-card.card-bg
					.cm-card-header All tags
					.cm-card-body
						ul.ul-reset.item-list
							each tag in tags
								li 
									h2 #{tag.title}
									.cm-text-right
										form(action="/cms/tags/delete" method="post")
											input(type="hidden" value=tag._id name="id")
											button.cm-btn.error Delete
				
