// CMS styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';
@import './components/talks';

html,
body {
    background-color: #f3f5f7;
}

.card-bg {
    background-color: #fff;
}

.input-box {
    & > input,
    & > button {
        width: 100%;
    }
    & > input {
        margin-bottom: 15px;
    }
}

a.cm-btn:hover {
    text-decoration: none;
}