// Index page styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';
@import './components/talks';

.main-wrapper {
	margin: 40px 0 0;
	padding: 0 25px;
}

.content-wrapper {
	width: 45%;
	margin: 0 auto 60px;

	@media screen and (max-width: $tabletWidth) {
		width: 100%;
	}
}

.main-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.intro-text,
.talks-links {
	a {
		margin: 0 7px 0 0;
	}
}