// Index page styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';

.main-wrapper {
	margin: 40px 0 0;
	padding: 0 25px;
}

.content-wrapper {
	width: 45%;
	margin: 0 auto 60px;

	@media screen and (max-width: $tabletWidth) {
		width: 100%;
	}
}

.main-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.intro-text,
.talks-links {
	a {
		margin: 0 7px 0 0;
	}
}

.talks-list {
	li {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid lighten($grey, 55%);
	}
}

.location {
	img {
		vertical-align: middle;
		margin-right: 5px;
	}
}