// Base styles

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.separator {
	margin-top: 40px;
}

.lh {
	line-height: 24px;
}

.ul-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.icon-location {
	width: 15px;
	height: 15px;
}