//- Blog page template

extends helpers/base

block title
	- var title = "Blog | Arun Michael Dsouza"

block append css
	link(rel="stylesheet" href="/css/blog.min.css")

block body
	main
		section.content-wrapper
			.root-link
				a(href="/") Arun Michael Dsouza
			h1.page-primary-title
				a(href="/blog") Blog
			.sub-text
				| Ramblings on 
				span Web Development
				|, 
				span JavaScript
				|,  
				span Open Source 
				| and 
				span Tech 
				| in general.
			each blog in blogs
				.pre-text
					span!= blog.date.toDateString()
				h2.page-secondary-title
					a(href=`/blog/${blog.url}`)!= blog.title