//- Blog page template

extends helpers/base

block title
	- var title = "Blog | Arun Michael Dsouza"

block append meta
	meta(name="description" content="Ramblings on Web Development, JavaScript, Open Source and Tech in general.")
	meta(name="keywords" content="blog, personal website, technology blog, personal blog")
	meta(property="og:title" content="Blog | Arun Michael Dsouza")
	meta(property="og:url" content="http://arunmichaeldsouza.com/blog")
	meta(property="og:description" content="Ramblings on Web Development, JavaScript, Open Source and Tech in general.")
	meta(property="og:image" content="http://arunmichaeldsouza.com/img/arun-michael-dsouza.png")

block append css
	link(rel="stylesheet" href="/css/blog.min.css")

block body
	include helpers/header
	main
		section.content-wrapper
			h1.page-primary-title
				a(href="/blog") Blog
			.sub-text.lh
				| Ramblings on 
				span Web Development
				|, 
				span JavaScript
				|,  
				span Open Source 
				| and 
				span Tech 
				| in general.
			each blog in blogs
				.pre-text
					span!= blog.date.toDateString()
				h2.page-secondary-title
					a(href=`/blog/${blog.url}`)!= blog.title