//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main
		section.content-wrapper
				.text-center
					img.main-img(src="img/arun-michael-dsouza.png" alt="Arun Michael Dsouza's image")
					h1.page-primary-title
						a(href="/") Arun Michael Dsouza
					.sub-text.intro-text.lh
						p Computer Programmer from India Currently Building Enterprise Products for the Web. International Speaker, Open Source Software Author and Contributor.
						p Organises 
							a(href="https://www.meetup.com/React-Delhi-NCR/" target="_blank") React Delhi-NCR
							|  and 
							a(href="https://www.meetup.com/Open-Source-Delhi/" target="_blank") Open Source Delhi
							|  Community Meetups. 
						p Plays Drums (Occasionally), Loves Travelling, Listening to Rock Music and Playing Video Games.
						a(target="_blank" href="https://github.com/ArunMichaelDsouza") GitHub
						a(target="_blank" href="https://twitter.com/amdsouza92") Twitter
						a(target="_blank" href="https://www.behance.net/arunmichaeldsouza") Behance
						a(target="_blank" href="/blog") Blog
				.separator
				section
					h2.page-secondary-title.text-left Work
					p.sub-text.text-left.lh
						| Currently Working on Header Bidding and Various Other Ad Revenue Optimisation Technologies at 
						a(href="https://www.adpushup.com/" target="_blank") AdPushup Inc.
				section
					h2.page-secondary-title.text-left 
						a(href="/talks" target="_blank") 
							| Talks / Presentations
							include helpers/externalLinkIcon
					p.sub-text.text-left.lh
						| Talks and Presentations from JSConf Belgium, JSConf Iceland and Other Community Meetups. 
				section
					h2.page-secondary-title.text-left 
						a(href="/open-source" target="_blank") 
							| Open Source
							include helpers/externalLinkIcon
					p.sub-text.text-left.lh
						| Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 
						span 1.1M 
						| Downloads every Month!