//- Open source projects page template

extends helpers/base

block title
	- var title = "Open Source | Arun Michael Dsouza"

block append css
	link(rel="stylesheet" href="/css/openSource.min.css")

block body
	include helpers/header
	main
		section.content-wrapper
			h1.page-primary-title
				a(href="/open-source") Open Source
			.sub-text
				| Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 
				span 1.1M 
				| Downloads every Month!
			section(style="margin: 0 10px;")
				.info-panel.split
					.pre-text
						span Python
					h2.page-secondary-title
						a(href="https://github.com/ArunMichaelDsouza/tensorflow-image-detection" target="_blank") tensorflow-image-detection
					p
						img(style="width: 200px;" src="https://raw.githubusercontent.com/ArunMichaelDsouza/tensorflow-image-detection/master/icon.png")
					p
						span(style="margin-right: 8px;")
							a.github-button(href='https://github.com/ArunMichaelDsouza/tensorflow-image-detection', data-icon='octicon-star', aria-label='Star ArunMichaelDsouza/tensorflow-image-detection on GitHub') Star
						a.github-button(href='https://github.com/ArunMichaelDsouza/tensorflow-image-detection/fork', data-icon='octicon-repo-forked', aria-label='Fork ArunMichaelDsouza/tensorflow-image-detection on GitHub') Fork
				.info-panel.split
					.pre-text
						span test
					h2.page-secondary-title
						a(href="https://github.com/ArunMichaelDsouza/tensorflow-image-detection" target="_blank") tensorflow-image-detection
					p
						img(style="width: 200px;" src="https://raw.githubusercontent.com/ArunMichaelDsouza/tensorflow-image-detection/master/icon.png")
					p
						span(style="margin-right: 8px;")
							a.github-button(href='https://github.com/ArunMichaelDsouza/tensorflow-image-detection', data-icon='octicon-star', aria-label='Star ArunMichaelDsouza/tensorflow-image-detection on GitHub') Star
						a.github-button(href='https://github.com/ArunMichaelDsouza/tensorflow-image-detection/fork', data-icon='octicon-repo-forked', aria-label='Fork ArunMichaelDsouza/tensorflow-image-detection on GitHub') Fork

	script(async='', defer='', src='https://buttons.github.io/buttons.js')

