//- Talks page template

extends helpers/base

block title
	- var title = "Talks | Arun Michael Dsouza"

block append css
	link(rel="stylesheet" href="/css/talks.min.css")

block body
	include helpers/header
	main
		section.content-wrapper
			h1.page-primary-title
				a(href="/talks") Talks
			.sub-text
				| Talks and Presentations from 
				span JSConf Belgium, 
				span JSConf Iceland 
				| and Other Community Meetups.
			each talk in talks
				.pre-text
					span!= talk.eventDate.toDateString()
				h2.page-secondary-title!= talk.title