doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Device Orientation API Desktop Demo
    style.
        html,
        body {
            font-family: sans-serif;
        }
        h1,
        h4 {
            font-weight: 400;
            display: inline-block;
        }
        p {
            font-weight: 300;
            display: inline-block;
        }
  body
    h1
      | Device Orientation API Desktop Demo
    div
      h4
        | Alpha:
      p#alpha
    div
      h4
        | Beta:
      p#beta
    div
      h4
        | Gamma:
      p#gamma
    script.
        window.addEventListener("deviceorientation", function(e) {
            const { alpha, beta, gamma } = e;
            document.getElementById("alpha").innerText = alpha;
            document.getElementById("beta").innerText = beta;
            document.getElementById("gamma").innerText = gamma;
        });
