//- Footer template

footer
	.text-center
		nav
			ul
				li
					a(href="/") Home
				li
					a(href="/about") About
				li
					a(href="/talks") Talks
				li
					a(href="/open-source") Open Source
				li
					a(href="/privacy-policy") Privacy Policy