//- Header template

header
	.text-center
		nav
			h1.page-primary-title
				a(href="/") Arun Michael Dsouza
			ul
				li
					a(href="/") Home
				li
					a(href="/blog") Blog
				li
					a(href="/talks") Talks