// Blog styles

.blog-wrapper {
    width: 60%;
    margin: 50px auto;
    @media screen and (max-width: $tabletWidth) {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
	}
}

.blog-title {
    margin-bottom: 15px;
    & > a {
        display: inline-block;
        color: #222;
        font-size: 1.2em;
        padding-bottom: 5px;
        border-bottom: 4px solid $blue;
        @media screen and (max-width: $tabletWidth) {
            font-size: 1em;
        }
    }
}

.blog-date {
    margin-bottom: 30px;
    color: $grey;
    span {
        color: darken($grey, 5%);
        font-weight: 700;
    }
}

.blog-content {
    margin-bottom: 50px;
    & figure {
        margin: 0;
        text-align: center;
        img {
            width: 80%;
            height: auto;
            margin: 0 auto;
            @media screen and (max-width: $tabletWidth) {
                width: 100%;
            }
        }
    }
    & .medium-insert-images:first-child {
        & > figure > img {
            width: 100%;
            height: auto;
        }
    }
    blockquote {
        font-style: italic;
        border-left: 3px solid #222;
        padding-left: 20px;
        margin: 0;
    }
    figcaption {
        & > p {
            margin: 0;
            font-size: .8em;
            text-align: center;
            color: $grey;
        }
    }
    font-weight: 400;
    color: #222;
    font-size: 1.2em;
    line-height: 1.7em;
}

.social-share {
    &.fixed {
        position: fixed;
        top: 40%;
        left: 8%;
        & > a {
            display: block;
            margin-bottom: 15px;
        }
        @media screen and (max-width: $tabletWidth) {
            display: none !important;
        }
    }
    &.flat {
        margin-bottom: 30px;
        & > a {
            margin-right: 15px;
            display: inline-block;
        }
    }
    & > a > svg {
        width: 25px;
        height: 25px;
        fill: #222;
    }
}