// Blog styles

.blog-content {
    margin-bottom: 70px;
    & figure {
        margin: 0;
        text-align: center;
        img {
            width: 90%;
            height: auto;
            margin: 0 auto;
            @media screen and (max-width: $tabletWidth) {
                width: 100%;
            }
        }
    }
    & .medium-insert-images:first-child {
        & > figure > img {
            width: 100%;
            height: auto;
        }
    }
    blockquote {
        font-style: italic;
        border-left: 3px solid #222;
        padding-left: 20px;
        margin: 0;
    }
    figcaption {
        &, & > p {
            margin: 0;
            font-size: 14px;
            text-align: center;
            color: $grey;
            line-height: 22px;
        }
    }
    font-weight: 400;
    color: #222;
    font-size: 1.2em;
    line-height: 1.7em;
}

.social-share {
    &.fixed {
        position: fixed;
        top: 40%;
        left: 8%;
        & > a {
            display: block;
            margin-bottom: 15px;
        }
        @media screen and (max-width: $tabletWidth) {
            display: none !important;
        }
    }
    &.flat {
        display: none;
        margin-bottom: 30px;
        & > a {
            margin-right: 15px;
            display: inline-block;
        }
        @media screen and (max-width: $tabletWidth) {
            display: block !important;
        }
    }
    & > a > svg {
        width: 25px;
        height: 25px;
        fill: #222;
    }
}