// Content styles

.content-wrapper {
    width: 60%;
    margin: 50px auto;
    @media screen and (max-width: $tabletWidth) {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
	}
}

.page-primary-title {
    margin-bottom: 15px;
    & > a {
        display: inline-block;
        color: $black;
        font-size: 1.2em;
        padding-bottom: 5px;
        border-bottom: 4px solid $blue;
        @media screen and (max-width: $tabletWidth) {
            font-size: 1em;
        }
    }
}

.sub-text {
    margin-bottom: 40px;
    color: $grey;
    span {
        color: darken($grey, 5%);
        font-weight: 700;
    }
}

.pre-text {
    margin-bottom: 10px;
    color: $grey;
    font-weight: 300;
}

.page-secondary-title {
    margin: 0 0 40px;
    & > a {
        color: $black;
    }
    padding-bottom: 10px;
    border-bottom: 2px solid $blue;
}