// Header styles

header {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid $blue;
    padding: 15px 0;
    z-index: 1000;
    .page-primary-title {
        margin: 0 0 10px;
    }
    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                margin-right: 5px;
                &:not(:last-child):after {
                    content: '/';
                    color: $blue;
                }
                a {
                    padding-right: 5px;
                    font-size: 1.2em;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}