// List styles

.list-item {
    margin-bottom: 40px;
    .info {
        padding: 0 0 0 10px;
        @media (max-width: 768px) {
            padding: 0;
        }
        .page-secondary-title {
            margin: 0 0 20px;
            @media (max-width: 768px) {
                margin: 10px 0 10px;
            }
        }
        .pre-text {
            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }
}