// Blog page styles

@import './helpers/normalize';
@import './helpers/variables';
@import './helpers/base';
@import './components/header';
@import './components/nav';
@import './components/footer';
@import './components/content';
@import './components/grid';
@import './components/listItem';

.content-wrapper {
  width: 80%;
  margin-top: 130px;
  @media screen and (max-width: $tabletWidth) {
    width: 100%;
  }
}
.tags-container a {
  display: block;
  font-size: 1.25em;
  margin-bottom: 10px;
}
.tags-container svg {
  width: 18px;
  vertical-align: middle;
}
.list-item .info .page-secondary-title {
  width: 95%;
}
