//- Blog editor template

extends ../helpers/base

block title
	- var title = "CMS - Blog Editor"
	- var subTitle = "Create or edit a blog post"

block append meta
	meta(name="robots" content="noindex")

block append css
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.6/css-mint.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/themes/default.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor-insert-plugin@2.5.0/dist/css/medium-editor-insert-plugin.min.css")
	link(rel="stylesheet" href="/css/cms.min.css")
	style.
		.editor-card {
			background-color: #fff;
		}
		.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
			margin-left: -52px;
		}
		.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
			left: 0;
		}
		.title {
			width: 100%;
		}
		input {
			margin-bottom: 15px;
		}
		label {
			font-weight: 700;
			font-size: 1.5em;
			display: block;
			margin-bottom: 15px;
			margin-top: 30px;
		}
		.btn-draft {
			margin-right: 15px;
			margin-bottom: 30px;
		}
		.btn-draft,
		.btn-publish {
			width: 200px;
		}

block body
	include ../helpers/header
	.cm-text-center
		a(href="javascript:window.history.back()") Go back
	.cm-grid
		.cm-row
			include logout
			form
				.cm-col-12
					label Blog title
					input.title(type="text" placeholder="Enter blog title" name="blogTitle" required)
					label Blog publish date (optional)
					input(type="date" placeholder="Blog publish date (optional)" name="blogDate")
				.cm-col-md-12
					label Blog content
					.cm-card.editor-card
						.cm-card-body(style="padding: 60px;")
							.editor
				.cm-col-sm-5.cm-col-sm-offset-7.cm-text-right
					button.cm-btn.primary.btn-draft Save draft
					button.cm-btn.success.btn-publish Publish

	script(src="/js/editor.min.js")