//- Admin page template

extends ../helpers/base

block title
	- var title = "CMS"
	- var subTitle = "Access the content management system"

block append meta
	meta(name="robots" content="noindex")

block append css
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.6/css-mint.min.css")
	link(rel="stylesheet" href="/css/cms.min.css")

block body
	main
		if !loggedIn
			include ../helpers/header
			.cm-grid
				.cm-row
					.cm-col-md-4.cm-col-md-offset-4
						.cm-card.card-bg
							.cm-card-header Login
							.cm-card-body
								form(method="post" action="/cms")
									.input-box
										input(type="text" placeholder="Enter Id" name="id" required)
									.input-box
										input(type="password" placeholder="Enter Password" name="password" required)
									.input-box
										button.cm-btn.primary Login
		else
			include panel
			
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="/js/cms.min.js")

