//- CMS panel template

block title
	- var title = "CMS"
	- var subTitle = "Adjust content for the website from this panel"

include cmsHeader

.cm-grid
	.cm-row
		include logoutButton
		.cm-col-md-4
			.cm-card
				.cm-card-body.card-bg
					span.cm-text-large.cm-text-bold!= blogs   
					span   Blog post(s)
					br
					a.cm-btn.primary(style="display: inline-block; margin-top: 15px;" href="/cms/blogs") Manage blog posts
		.cm-col-md-4
			.cm-card
				.cm-card-body.card-bg
					span.cm-text-large.cm-text-bold!= talks  
					span   Talk(s)
					br
					a.cm-btn.primary(style="display: inline-block; margin-top: 15px;" href="/cms/talks") Manage talks
		.cm-col-md-4
			.cm-card
				.cm-card-body.card-bg
					span.cm-text-large.cm-text-bold!= projects  
					span   Project(s)
					br
					a.cm-btn.primary(style="display: inline-block; margin-top: 15px;" href="/cms/projects") Manage projects
		.cm-col-md-4
			.cm-card
				.cm-card-body.card-bg
					span.cm-text-large.cm-text-bold 0  
					span Travelog location(s)
					br
					a.cm-btn.primary(style="display: inline-block; margin-top: 15px;" href="/cms/travelog") Manage travelog